<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>DTermLicense</string>
			<key>CFBundleTypeName</key>
			<string>net.decimus.dterm.license</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.decimus.dterm.license</string>
			</array>
			<key>NSDocumentClass</key>
			<string>DTLicenseFile</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>DTerm 1.6, © 2011 Decimus Software, Inc. All Rights Reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>DTermHelp</string>
	<key>CFBundleIconFile</key>
	<string>DTerm</string>
	<key>CFBundleIdentifier</key>
	<string>net.decimus.dterm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>DTrm</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>net.decimus.dterm.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dterm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>BZR_REVISION</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5.0</string>
		<key>ppc</key>
		<string>10.5.0</string>
		<key>ppc64</key>
		<string>10.6.0</string>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Decimus Software, Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://decimus.net/appcasts/DTerm.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DTerm License</string>
			<key>UTTypeIconFile</key>
			<string>DTermLicense.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.decimus.dterm.license</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dtermlicense</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
